<?php

$database = [
    "host" => "",
    "user" => "",
    "password" => "",
    "database" => "",
    "trash" => [
        "enabled" => false,
        "day" => 30 // delete trash after 30 days
    ]
];

return $database;
