<?php

$site = [
    "name" => "IT of Suratthani Vocational College",
    "description" => "แผนกคอมพิวเตอร์ธุรกิจ สาขาเทคโนโลยีสารสนเทศ วิทยาลัยอาชีวศึกษาสุราษฎร์ธานี",
    "logo" => [
        "64" => "https://cdn.itsvc.dev/htdocs/images/logo-64.png",
        "128" => "https://cdn.itsvc.dev/htdocs/images/logo-128.png",
        "256" => "https://cdn.itsvc.dev/htdocs/images/logo-256.png",
        "ico" => "https://cdn.itsvc.dev/htdocs/images/favicon.ico",
    ],
    "lang" => "th",
    "theme-color" => "#7885B5",
    "useragent" => "ITSVC/1.0",

    "admin_panel" => "/admin",
    "member_panel" => "/member",

    "cdn" => [
        "path" => "https://cdn.itsvc.dev/htdocs"
    ],
];

return $site;